/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
/* variables for the web page */
:root {
    --green: #00b137;
    --blue: #0069af;
}

/* general styles */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.green {
    color: var(--green);
    font-weight: 700;
}

.blue {
    color: var(--blue);
    font-weight: 700;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--green);
}

/* language switch button styling */
.switch {
    z-index: 999;
    position: fixed;
    left: 5px;
    bottom: 5px;
}

.switch > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    width: 50%;
    text-align: center;
    line-height: 1; /* Ensure the text has a consistent height */
}

input.check-toggle-round-flat:checked ~ .off {
    color: var(--green);
}

input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
}

.switch > span.on {
    left: 0;
    padding-left: 2px;
    color: var(--green);
}

.switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.check-toggle-round-flat + label {
    padding: 2px;
    width: 100px; /* Slightly adjusted for better symmetry */
    height: 40px; /* Slightly adjusted for better symmetry */
    background-color: var(--green);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: '';
}

input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: var(--green);
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
    top: 50%;
    left: 4px;
    bottom: 4px;
    width: 48px;
    height: 32px; /* Adjusted height for symmetry */
    transform: translateY(-50%);
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
    left: 48px; /* Adjusted for perfect centering */
}

/* scroll button styles */
.to-top {
    background: var(--blue);
    z-index: 999;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

/* navigation */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 2.5vw 10vh;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1100px) {
    .navbar .menu {
        display: none;
    }
}

@media (max-width: 700px) {
    .navbar .logo {
        max-width: 90%;
    }

    .navbar .lek4you {
        display: none;
    }
    .navbar {
        flex-direction: column;
        padding: 0;
    }

    .navbar.sticky {
        padding: 1.5vw 0 !important;
    }
}

.navbar.sticky {
    padding: 1.5vw 10vh;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .lek4you p {
    text-align: center;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.navbar .lek4you img {
    max-width: 150px;
}

.navbar .logo {
    margin-left: 10vw;
    display: flex;
    align-items: center;
}

.navbar .logo a {
    color: #000;
    font-size: 2.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.navbar .logo a span {
    color: var(--blue);
}

.navbar .logo a span.upper {
    vertical-align: super;
    font-size: 0.8em;
}

.navbar .logo .carci-logo {
    max-width: 65px;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #000;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2.5vw;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: var(--blue);
}

@media (max-width: 370px) {
    .navbar .logo a span {
        display: none;
    }
}

/* home section */
.home {
    background: rgb(221, 221, 221);
    background-color: #ddd;
    height: 100vh;
    color: #000;
    min-height: 500px;
    background-image: url(../img/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.home .text {
    border-radius: 10px;
}

.home h1 {
    font-size: 3em;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #333;
}

.home p {
    font-size: 1.6em;
    line-height: 1.5;
    color: #555;
}

.home .logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
}

.home #product {
    transform: rotate(1deg);
    margin-right: 5vw;
}

@media (max-width: 1200px) {
    .home img[alt='Carci Reagent'] {
        display: none;
    }

    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home .text {
        margin: 0;
        text-align: center;
    }

    .navbar .logo {
        margin-left: 0;
    }
}

@media (max-width: 1600px) {
    .home img {
        margin-right: 0;
    }
}

@media (max-width: 1650px) {
    .home .text h1 {
        font-size: 2em;
    }

    .home .text p {
        font-size: 1.5em;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: '\f00d';
    }
}

@media (max-width: 700px) {
    .home .text h1 {
        font-size: 1.9em;
    }

    .home .text p {
        font-size: 1.4em;
    }
}

/* parallax section styling */
.parallax {
    background-image: url('../img/R.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.parallax-content {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 650px;
}

.parallax-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #333;
}

/*about section styles */
.about {
    background-color: #fff;
    display: grid;
    place-items: center;
}

.about-info {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 650px;
    margin: 20vh 0 10vh;
}

.about-info h2 {
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5em;
    padding: 0 5vw;
    color: #333;
}

.about-info p {
    font-size: 1.5em;
    color: #555;
}

.about-carts {
    display: flex;
    width: 100%;
    max-width: 1600px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0 0 20vh;
}

.about i {
    color: white;
}

.about a {
    color: black;
}

.cart {
    background: white;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(25% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    border-radius: 15px;
}

.cart a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

.cart-icon {
    font-size: 28px;
    background: var(--blue);
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.cart:hover .cart-icon {
    background: none;
    color: var(--green);
    transform: scale(1.6);
}

.cart p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 40px;
    opacity: 1;
    transition: 0.3s linear;
}

.cart:hover p,
.cart:hover a {
    color: var(--green);
}

@media screen and (max-width: 800px) {
    .about-carts {
        flex-direction: column;
    }
    .cart {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
}

/*footer section*/
footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 60px 10%;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
}

.footer-col h4,
footer .lek4you p {
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: var(--blue);
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: var(--blue);
    height: 2px;
    width: 40px;
}

footer ul li:not(:last-child) {
    margin-bottom: 8px;
}

footer ul li a {
    display: block;
    font-size: 19px;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

footer ul li a::first-letter {
    text-transform: capitalize;
}

footer ul li a[href='mailto:sprzedaz@lek4you.pl']::first-letter,
footer ul li a[href="https://lek4you.pl/"]::first-letter
{
    text-transform: none !important;
}

footer ul li a:hover {
    color: white;
    padding-left: 2px;
}

.links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: var(--green);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover {
    color: #4d4f55;
    background-color: white;
}

footer .lek4you {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

footer .lek4you p {
    margin-bottom: 10px;
}

footer .lek4you img {
    max-width: 150px;
}

@media (max-width: 740px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before {
        all: unset;
    }

    footer .lek4you img {
        max-width: 120px;
    }
}

@media (max-width: 555px) {
    .footer-col {
        width: 100%;
    }
}
